body {
    background-color: #3f614d;
  }
  
  .page-header {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 500px;
  }
  
  .page-navigation {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 200px;
  }
  
  .offset-content {
    position: absolute;
    padding-left: 230px;
    top: 20px;
    width: 80%;
    z-index: -1000;
     }
  
  .offset-content .window {
    margin-bottom: 20px;
  }
  
  .content-view {
    width: 100%;
  }
  
  nav button {
    width: 90%;
    margin-bottom: 20px;
  }

  p2{
    font-size: 30px;
    font-family:Optima, sans-serif;
  }

  p3{
    font-size: 25px;
    font-family: Optima, sans-serif;
  }

  img{
    height: 350px;
    width: 250px;
    float:right;
    padding: 20px;
  }

  a.one{
    background-color: rgb(198, 228, 198);
    color: rgb(154, 163, 150);
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Optima, sans-serif;
}

a.two{
  background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px 28px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: Optima, sans-serif;
}

a.one:hover, a.two:hover {
  background-color: #4a5c51;
  color: rgb(255, 255, 255);
}
